@media screen and (max-width: 1330px) and (min-width: 800px) {
  .side-bar{
    width: auto;
  }
  
  .menu-item{
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .display-none{
    display: none;
  }
}